.sidenav {
    background-color: #2780E3;
    color: #fff;
    width: 275px;
    left: 275px;
    margin-left:-275px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
}

.sidenav-offset {
    margin-left:275px;
}

.container-fluid {
   max-width:1024px;
}

#sidenav-offset {
    padding: 0 2em;
    margin-top: 40px;
    margin-bottom: 50px;
    line-height: 1.6em;
}
.sidenav-header {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 20px;
    background-color: #1967BE;
    border-bottom: #81B4EF 2px solid;
}
.sidenav-toggle {
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
}
.sidenav-menu {
    padding-left: 0;
    margin-bottom: 0;
}
.sidenav-menu li {
    list-style: none;
}
.sidenav-menu li a {
    display: block;
    padding: 15px 15px 15px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.sidenav-menu li a:hover {
    background-color: #1967BE;
}

.sidenav-mini {
    color: #2780E3;
    width: 50px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.sidenav-mini-header {
    font-size: 18px;
    padding: 5px 0;
    margin-bottom: 20px;
}
