pep {
  width: 400px;
  height: 450px;
    left: 50%;
    top: 25%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -25%, 0);
    -moz-transform: translate3d(-50%, -25%, 0);
    transform: translate3d(-50%, -25%, 0);
}
