body {
    color: #777;
    background: #3498db;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
The content `<div>` is where all your content goes.
*/
pep {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

space {
    padding: 0px 1px;
}

a {
	text-align: center;
	color: #95a5a6;
}
 .card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    
    background: #fff;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 16px 16px;
}

.form-large {
            font-size: 120%;
}

.button-large {
            font-size: 120%;
            background: #3498db;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}

